.fullh{
    height: auto;
}
.pack{
    cursor: pointer;
    overflow: auto;
}
.pack:hover{
    background-color: antiquewhite;
}
.selectedp{
    background-color: lightgreen;
}
/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    body{
      font-size: 12px;
    }  
}
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    body{
      font-size: 14px;
    }
  }